/* colors */
:root {
  --text: hsl(192, 81%, 6%);
  --background: hsl(198, 88%, 93%);
  --darkerBlue: hsl(191, 56%, 53%);
  --pink900: hsl(332, 79%, 85%);
  --blue900: hsl(191, 54%, 63%);
  --blue800: hsl(191, 54%, 68%);
  --blue700: hsl(191, 54%, 73%);
  --blue600: hsl(191, 54%, 78%);
  --blue500: hsl(191, 54%, 83%);
  --blue400: hsl(191, 54%, 88%);


  --blueCornerGradient: linear-gradient(to bottom right, hsl(191, 56%, 53%), hsl(191, 56%, 33%));

  --linearPrimarySecondary: linear-gradient(hsl(191, 56%, 53%), hsl(332, 79%, 85%));
  --linearPrimaryAccent: linear-gradient(hsl(191, 56%, 53%), hsl(192, 84%, 60%));
  --linearSecondaryAccent: linear-gradient(hsl(332, 79%, 85%), hsl(192, 84%, 60%));
  --radialPrimarySecondary: radial-gradient(hsl(191, 56%, 53%), hsl(333, 80%, 72%));
  --radialPrimaryAccent: radial-gradient(hsl(191, 56%, 53%), hsl(192, 84%, 60%));
  --radialSecondaryAccent: radial-gradient(hsl(333, 80%, 72%), hsl(192, 84%, 60%));
  --linearPink: linear-gradient(hsl(332, 40%, 85%), hsl(332, 79%, 85%));

}

* {
  box-sizing: border-box;
}

html,
body {

  margin: 0;
  padding: 0;

  font-family: "Averia Serif Libre", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: var(--background);
}

.box {
  /* https://css-generators.com/wavy-shapes/ */
  --mask:
    radial-gradient(53.65px at 50% 75.85px, #000 99%, #0000 101%) calc(50% - 74px) 0/148px 51% repeat-x,
    radial-gradient(53.65px at 50% -38.85px, #0000 99%, #000 101%) 50% 37px/148px calc(51% - 37px) repeat-x,
    radial-gradient(53.65px at 50% calc(100% - 75.85px), #000 99%, #0000 101%) 50% 100%/148px 51% repeat-x,
    radial-gradient(53.65px at 50% calc(100% + 38.85px), #0000 99%, #000 101%) calc(50% - 74px) calc(100% - 37px)/148px calc(51% - 37px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.background {
  padding: 90px 0px;

  background-image: var(--blueCornerGradient);
}

#main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 20px;

}

.headline-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 1vw;

  margin: 4vw;
}

#introduction-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-self: center;

  white-space: nowrap;

  min-width: 300px;

  font-size: 3em;
  font-weight: 800;

  & span {
    font-style: italic;
  }

}

@media screen and (max-width: 980px) {
  #introduction-text {
    font-size: 2em;
  }
}

.headline-text {
  color: var(--pink900)
}


.profile-pic {
  border-radius: 50% 50%;
  object-fit: cover;

  box-shadow: 5px 15px 10px lightblue;


  max-height: 40vw;
  max-width: 40vw;


  &.small {

    max-height: 200px;
    min-height: 20px;
  }

}

.products {
  display: flex;
  justify-content: space-between;
  gap: 2vw;


  & .product-item {

    padding: 2rem;
    border-radius: 20px;


    background: var(--blue400);

    & span {
      font-size: 4rem;
    }
  }

  & h1 {
    margin: 0px 0px 40px 0px;
    font-size: 4rem;

    white-space: nowrap;
  }
}

.grid-products {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2 fr repeat(3, 1fr);

  margin: 20px 8vw;
  row-gap: 2em;
  column-gap: 8em;

  grid-template-areas:
    "about values"
    "software values"
    "art values"
    "music values"
  ;


  & #values-intro-info {
    grid-area: values;

    & h1 {
      font-size: 6rem;
    }

    & #more-values {
      display: none;
    }

    & #more-values:target {
      display: inline-block;
    }
  }

  & #about-intro-info {
    grid-area: about;

    & h1 {
      font-size: 6rem;
    }
  }

  & #software-intro-info {
    grid-area: software;
  }

  & #art-intro-info {
    grid-area: art;
  }

  & #music-intro-info {
    grid-area: music;
  }

  & .product-item {
    padding: 2rem;
    border-radius: 20px;
    font-size: 1.4rem;
    background: var(--blue400);

    width: inherit;

    & span {
      font-size: 4rem;
    }
  }



  & h1 {
    margin: 0px 0px 10px 0px;
    font-size: 3rem;

    white-space: nowrap;
  }

  & p {
    margin: 0px;
  }
}

/* TODO: add more styling */
.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  /* each title */
  & section {
    background-color: var(--blue700);
    border-radius: 20px;
    margin: 20px;
    padding: 1vw;
  }
}

.blog {
  font-size: 2rem;
  margin: 180px 40px;


  & .quoted-text {
    background: var(--blue400);
    padding: 80px;
    border-radius: 20px;
  }


  & q {
    font-size: 4rem;
  }
}


/*
  TODO: Fix it for mobile use

*/
@media screen and (max-width: 1400px) {

  .grid-products {

    margin: 20px 3em;
    column-gap: 3em;


    & .product-item {
      padding: 20px;
      font-size: 16px;
    }

    & h1 {
      font-size: 2em;
    }

    & p {
      font-size: 1em;
    }

    & #about-intro-info h1 {
      font-size: 2em;

    }

    & #values-intro-info h1 {
      font-size: 2em;
    }

    /* TODO: Fix */
    & #more-values {
      font-size: inherit;
    }
  }

  .blog {
    font-size: 1.3rem;
    margin: 1vw 40px;


    & .quoted-text {
      padding: 80px;
      border-radius: 20px;
    }


    & q {
      font-size: 2.6rem;
    }
  }

}

footer {
  margin-top: 180px;
  height: 50px;
  background: var(--blue500);

  padding: 40px;

  box-shadow: 0px -5px 10px var(--blue400);
}