:root {
  --linearGreenGrad: linear-gradient(hsl(141, 33%, 50%), hsl(141, 33%, 33%));
  --linearBlueGrad: linear-gradient(hsl(201, 42%, 75%), hsl(201, 27%, 64%));
  --linearGlassGreen: linear-gradient(135deg, hsla(141, 33%, 33%, 0.6), hsla(141, 33%, 23%, 0.8));


  --lightBlue: hsl(201, 27%, 64%);
  --darkGreen: hsl(141, 33%, 33%);
  --glassGreen: hsla(141, 33%, 33%, 0.2);
}

body {
  background-color: var(--lightBlue);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button#start {
  background-color: var(--darkGreen);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#game {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;

  box-shadow: 0 40px black;

  border-radius: 25px;
  margin: 4vw;
  background-color: var(--darkGreen);
}

.card {
  border: 2px solid black;
  box-shadow: -2px 4px rgba(0, 0, 0, 0.368);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  height: 10vw;
  width: 10vw;
  margin: 1vw;
}

#win-state {
  display: none;
  border-radius: 25px;

  z-index: 100;
  position: absolute;
  top: calc(100dvh - 82vh);

  background: var(--linearGlassGreen);
  backdrop-filter: blur(20px);

  justify-content: center;

  height: 40vw;
  font-size: 12vw;
  padding: 4vw;
}

